@font-face {
    font-family: shelter;
    src: url("font/shelter/Shelter.otf") format("opentype");
}

nav>ul>li:first-child {
    font-family: "shelter";
    font-size: 150%;
}

body {
    margin: 0 auto;
    background-color: rgb(238, 238, 227);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    min-height: 100%;
    height: 100%;
    min-height: 100%;
    padding-top: 120px;
    padding-bottom: 40px;
}

.cat-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    min-height: 100%;
    padding: 120px 30px 40px 30px;
}

.left-part {
    width: 350px;
    height: 115px;
    padding-top: 15%;
    padding-left: 12%;
    float:left;
}

.right-part {
    width: 350px;
    height: 115px;
    padding-top: 15%;
    padding-left: 12%;
    float:left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(beige, green);
    color: #00291b;
    text-align: right;
    height: 22px;
    padding-top: 8px;
}

